
@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Perfil</h2>

<div class="container">
    <form action="/Perfil/Novo" method="post">
        <div class="mb-3">
            <label for="txtDescricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="txtDescricao" name="descricao" placeholder="Descrição" required>
        </div>
        <button class="btn btn-success">Salvar</button>
    </form>
</div>