
@{
    ViewBag.Title = "TesteProcedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TesteProcedure</h2>

<h3>Nome: </h3>
<p>@ViewBag.Usuario.Nome</p>

<h3>Email: </h3>
<p>@ViewBag.Usuario.Email</p>